$border-radius: 2px;

/* Colors */
$red: #c22025;
$yellow: #ffcc31;
$orange: #ffa814;
$green: #83b800;
$blue: #00457e;
$black: #1c1c1c;
$dark-gray: #373a4c;
$light-gray: #eaeaef;

$primary: $red;
$secondary: $blue;
$body-bg: $dark-gray;
$content-bg: #fff;
$btn-bg: $dark-gray;
$btn-color: #fff;

$text-color: $black;
$link-color: $blue;
