ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 20px;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}
